.main-body{
    background-color: lightgrey;
    width: 100%;
    height: 100px;
    border: 0px;
}
    

.form-body{
    background-color: lightgrey;
    margin: 7px 10% 0px 10%
    width: 100%;
    height: 100px;
    border: 
}


.header{
  
    width: 100%;
   /* height: 100px;*/
   border: 1px solid black; 
}


.form{
    background-color: yellow;
    width: 95%;
    height: 150px;
    padding: 10px;
}


.form-col{
    float: left;
    width: 30%;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
}